{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
My account
{% endblock %}

{% block content %}

<div id="content" class="bg-white m-3 p-3">
    <div class="container ">
      <div class="row bar">
        <div id="customer-account" class="col-lg-9 clearfix">
            <h3 class="text-uppercase">@{{ request.user.username}} | {{user.get_full_name}}</h3>
                        
            <hr>
            <div class="bo3">
                <div class="heading">
                  <h3 class="text-uppercase">Personal details</h3>
                </div>
                <form action="{% url 'user:detail' request.user.username %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Age</label>
                            <input
                                class="form-control {% if form.edad.errors %}is-invalid{% endif %}"
                                type="text"
                                name="edad"
                                placeholder="Enter your home address"
                                value="{% if form.errors %}{{ form.edad.value }}{% else %}{{ person.edad }}{% endif %}"
                            />
                            <div class="invalid-feedback">
                                {% for error in form.edad.errors %}
                                    {{ error }}
                                {% endfor%}
                            </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Identification Card</label>
                                <input
                                    class="form-control {% if form.cc.errors %}is-invalid{% endif %}"
                                    type="text"
                                    name="cc"
                                    placeholder="Enter your ID number"
                                    value="{% if form.errors %}{{ form.cc.value }}{% else %}{{ person.cc }}{% endif %}"
                                />
                                <div class="invalid-feedback">
                                    {% for error in form.cc.errors %}
                                        {{ error }}
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone number</label>
                                <input
                                    class="form-control {% if form.celphone.errors %}is-invalid{% endif %}"
                                    type="text"
                                    name="celphone"
                                    placeholder="Enter your cell phone number"
                                    value="{% if form.errors %}{{ form.celphone.value }}{% else %}{{ person.celphone }}{% endif %}"
                                />
                                <div class="invalid-feedback">
                                    {% for error in form.celphone.errors %}
                                        {{ error }}
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                            <input
                                class="form-control {% if form.home_address.errors %}is-invalid{% endif %}"
                                type="text"
                                name="home_address"
                                placeholder="Enter your home address"
                                value="{% if form.errors %}{{ form.home_address.value }}{% else %}{{ person.home_address }}{% endif %}"
                            />
                            <div class="invalid-feedback">
                                {% for error in form.address.errors %}
                                    {{ error }}
                                {% endfor%}
                            </div>
                            </div>
                        </div>
                    </div>              
                    <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-template-outlined"><i class="fa fa-save"></i> Save changes</button>
                    </div>              
                </form>
            </div>
            <div class="box mt-5">
                <div class="heading">
                  <h3 class="text-uppercase">Your Orders</h3>
                </div>
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Reference No.</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Payment Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <a href="#"><td>#{{ order.reference_number }}</td></a>
                                <td>{{ order.ordered_date }}</td>
                                <td>{{ order.get_total }}</td>
                                <td>{% if order.ordered %}Paid{% else %}Not paid{% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">You havent made any purchases</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
          <!-- CUSTOMER MENU -->
          <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
              <h3 class="h4 panel-title">Customer section</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills flex-column text-sm">
                <li class="nav-item"><a href="#" class="nav-link "><i class="fa fa-sliders"></i> Settings </a></li>
                <li class="nav-item"><a href="{% url 'user:detail' request.user.username %}" class="nav-link"><i class="fa fa-user"></i> My account</a></li>
                <li class="nav-item"><a href="{% url 'user:logout' %}" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}