{% extends "indexx.html" %}
{% load i18n%}
{% block title %}
    {% trans "Login | La Casa Restaurante" %}
{%endblock%}


{% block content %}
  
    <div class="site-section m-3 p-3" id="content">
        <div class="container bg-white">
            <div class="row justify-content-center align-items-center minh-100">               
                <div class="col-lg-6">
                    <div class="box">
                        <h2 class="text-uppercase">{% trans "Login" %}</h2>                        
                        <hr>
                        <form method="POST" action= "{% url 'user:login' %}" >
                            {% csrf_token %}
    
                            <div class="form-group " >
                                {% if form.error_messages %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss = "alert" aria-label = "Close">
                                        <span aria-hidden = "true">&times;</span>
                                        </button>
                                        <strong>{% trans "Alerta" %}: </strong> {{ form.get_invalid_login_error }}
                                    </div>
                                {% endif %}

                                <input class="form-control" type="text" placeholder="{% trans 'Username' %}" name="username" style="max-width: 500px;"/>
                            </div>
    
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="{% trans 'Password' %}" name="password" style="max-width: 500px;" />
                            </div>    
                            <button class="btn btn-template-outlined btn-block mt-5" type="submit" style="max-width: 500px;"><i class="fa fa-sign-in"></i>{% trans "Iniciar Sesión" %}</button>                           
                        </form> 
                       <br><p class="text-center text-muted">{% trans "¿No estás registrado todavía?" %}</p>
                       <p class="mt-4">
                          <a href="#"><strong>{% trans "Regístrate ahora" %}</strong></a>
                          ! {% trans "No gastas más de 1 minuto y te da acceso a la información de nuestro restaurante" %}!                    
                        </p>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- comentario ejemplo cristian mod-->
    <!-- comentario 2-->
{% endblock %}